# top-most EditorConfig file
root = true

# General
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
[*.md]
max_line_length = off

# JavaScript files
[*.js]
# Change these values to match your project's coding style
indent_size = 2
indent_style = space
