{
   "printWidth": 120,
   "tabWidth": 2,
   "useTabs": false,
   "semi": true,
   "singleQuote": true,
   "quoteProps": "as-needed",
   "jsxSingleQuote": false,
   "trailingComma": "all",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "arrowParens": "always",
   "requirePragma": false,
   "insertPragma": false,
   "proseWrap": "preserve",
   "vueIndentScriptAndStyle": false,
   "htmlWhitespaceSensitivity": "strict",
   "endOfLine": "lf",
   "overrides": [
      {
         "files": "*.md",
         "options": {
            "proseWrap": "always"
         }
      },
      {
         "files": "*.yaml",
         "options": {
            "tadWidth": 2,
            "printWidth": 40,
            "singleQuote": true
         }
      }
   ]
}